* {
    box-sizing: border-box;
}
.Content{
    background-color: aqua;
    border: 1px solid green;
    display: flex;
}

.Navig {
    background-color: bisque;
    height: 100%;
    flex: 1;
}
.Text {
    background-color: darkgrey;
    flex: 3;
}

@media (max-width: 600px){
.Content{
    background-color: aqua;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}
.Navig ul, li{
    display: inline-block;
    margin: 0;
}
.Navig{
    display: flex;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;       
}
}

